Connected Services/ServiceSynchro/ServiceSynchro32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceSynchro" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceSynchro" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFamily">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Family" nillable="true" type="tns:Family" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFamily" nillable="true" type="tns:ArrayOfFamily" />
  <xs:complexType name="Family">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Family" nillable="true" type="tns:Family" />
</xs:schema>