Connected Services/ServiceSynchro/ServiceSynchro.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceSynchro" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.176.130.29:8080/ServiceSynchro/ServiceSynchro.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.176.130.29:8080/ServiceSynchro/ServiceSynchro.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.176.130.29:8080/ServiceSynchro/ServiceSynchro.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://10.176.130.29:8080/ServiceSynchro/ServiceSynchro.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ServiceSynchro" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceSynchro_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IServiceSynchro_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSynchro_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="IServiceSynchro_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSynchro_GetFamilies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFamilies" />
  </wsdl:message>
  <wsdl:message name="IServiceSynchro_GetFamilies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFamiliesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSynchro_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IServiceSynchro_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSynchro_GetArticles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArticles" />
  </wsdl:message>
  <wsdl:message name="IServiceSynchro_GetArticles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArticlesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSynchro_GetSynchronizations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSynchronizations" />
  </wsdl:message>
  <wsdl:message name="IServiceSynchro_GetSynchronizations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSynchronizationsResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceSynchro">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSynchro/GetData" message="tns:IServiceSynchro_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSynchro/GetDataResponse" message="tns:IServiceSynchro_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSynchro/Test" message="tns:IServiceSynchro_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSynchro/TestResponse" message="tns:IServiceSynchro_Test_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFamilies">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSynchro/GetFamilies" message="tns:IServiceSynchro_GetFamilies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSynchro/GetFamiliesResponse" message="tns:IServiceSynchro_GetFamilies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSynchro/GetUsers" message="tns:IServiceSynchro_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSynchro/GetUsersResponse" message="tns:IServiceSynchro_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArticles">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSynchro/GetArticles" message="tns:IServiceSynchro_GetArticles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSynchro/GetArticlesResponse" message="tns:IServiceSynchro_GetArticles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSynchronizations">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSynchro/GetSynchronizations" message="tns:IServiceSynchro_GetSynchronizations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSynchro/GetSynchronizationsResponse" message="tns:IServiceSynchro_GetSynchronizations_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceSynchro" type="tns:IServiceSynchro">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IServiceSynchro/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/IServiceSynchro/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFamilies">
      <soap:operation soapAction="http://tempuri.org/IServiceSynchro/GetFamilies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IServiceSynchro/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArticles">
      <soap:operation soapAction="http://tempuri.org/IServiceSynchro/GetArticles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSynchronizations">
      <soap:operation soapAction="http://tempuri.org/IServiceSynchro/GetSynchronizations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceSynchro">
    <wsdl:port name="BasicHttpBinding_IServiceSynchro" binding="tns:BasicHttpBinding_IServiceSynchro">
      <soap:address location="http://10.176.130.29:8080/ServiceSynchro/ServiceSynchro.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>